@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;700&family=Montserrat:wght@100;300&display=swap');


 /* start of main block */
body{
  background-color: #F6EEEB;
  font-family: 'Montserrat', sans-serif;
}

body a{
  text-decoration: none;
}

.block{
  background-color: #363636;
  color: #ffffff;
}

 .catalog, header a, .white-btn{
  background: none;
  border:none;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
} 

.box{
  display: inline-block;
}
/*end of main block */


/* start of the menu elements */
/* upper menu */
.upper{
  padding: 0.4% 0% 0% 2%;
}

.menu{
  height: 20px;
  display: inline-block;
}

.dropdown{
  position: relative;
}

.dropdown-menu#screen{
  position: absolute;
  visibility:hidden;
  left: 0;
  top: calc(100% + .3rem);

  opacity:0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}

.dropdown>  .catalog#screen:focus + .dropdown-menu#screen{
  visibility:visible;
  opacity:1;
  transform: translateY(5px);
}

.menu-button{
  text-align: center;
  height: 100%;
  width: 150px;

  line-height: 20px;

  transition: filter .1s ease-in, background-color .2s ease-in;
}

.menu-button:hover{
  background-color: #5e5958;
  cursor: pointer;
}
.menu-button:active{
  filter: brightness(130%);
}

.hidden-menu{
  font-weight: bold;
  margin-top: 10px;
  background-color: #F6EEEB;
}

.hidden-menu a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn#screen{
  display: inline-block;
  height: 40px;
  width:130px;

  margin-left: 0.5%; 
  margin-right: 1.9%;
 
  color: #000000;
  border: 2px #c4bbb9 solid;
  transition: box-shadow 400ms ease-in-out, background-color 400ms ease-in-out;
}

.btn#screen:hover{
  background-color: #817d7c;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.925);
}

.crockery-name{
  position: absolute;
  right:5%;
  top:1.8%;
}

.crockery{
  visibility: hidden;
  position: absolute;

  right:5%;
}

.crockery a{
  display: block;
  
  width: 40px;
  height: 40px;
}

.crockery img{
  width: 40px;
  height: 40px;
  filter: invert(100%);
  filter: brightness(300%);
}

.mobile{
  visibility: hidden;
}

#menu__toggle{
  position: absolute;
  opacity:0;
}

.menu__btn{
  display: flex;
  align-items: center;
  position: fixed;
  top:20px;
  left:20px;

  width:26px;
  height: 26px;

  cursor: pointer;
  z-index: 7;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;
  background-color: #fff;

  transition-duration: .25s;
}

.menu__btn > span::before{
  content: '';
  top:-8px;
}

.menu__btn > span::after{
  content: '';
  top:8px;
}

.menu__box{
  display: block;
  position: fixed;
   visibility: hidden;  

  top:0px;
  left:-100%;

  width:200px;
  height: 100%;

  list-style: none;

  text-align: center;

  z-index: 6;

  transition-duration: .25s;

  background-color: #F6EEEB;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item{
  display: block;
  padding: 12px 24px;

  
  font-weight: bolder;

  text-decoration: none;
}

.mobile ul{
  position: fixed;
  padding-top: 60px;
}

.mobile li.btn{
  width: 97%;

  transition: background-color 400ms ease-in-out;
}


li.btn a, li.btn button{
  display: block;

  width:200px;
  height: 40px;

  color: #000000;
  font-size: 15px;
  font-weight: 700;

  border-bottom: 1px #000 solid;

}

li.btn .hidden-menu{
  width:203px;
}


li.btn a{
  line-height: 40px;
}

li.btn a.about-us{
  margin-top: 20px;
}

.dropdown-menu#mobile{
  position: absolute;
  visibility:hidden;
  left: 0;

  opacity:0;
  transform: translateX(-10px);
  transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}

.dropdown>  .catalog#mobile:focus + .dropdown-menu#mobile{
  visibility:visible;
  opacity:1;
  transform: translateY(0);
}

.menu__item:active{
  background-color: #7a7a7a;
}

li.btn button:focus{
  background-color: #616161;
}


#menu__toggle:checked ~ .menu__btn > span{
  background-color: #000000;
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before{
  top:0;
  background-color: #000000;
  transform:rotate(0deg);
}

#menu__toggle:checked ~ .menu__btn > span::after{
  top:0;
  background-color: #000;
  transform:rotate(90deg);
}

#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left:0;
}
/* end of upper menu */

/* lower menu block */

.lower{
  position: relative;
  margin-bottom: 60px;
}

.logo-img{
  position: absolute;
  right:45%;
}

.img-menu{
  display: flex;
  width: 20%;
  z-index: 1;
}

.img-menu a, .img-btn.search{
  display: block;
  width: 40px;
  height: 40px;
  transition: transform 0.1s ease-in-out;
}

.img-btn{
  margin-right: 10%;
  padding-top: 2%;
}

.img-menu a:hover, .img-btn.search:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.img-menu a:active, .img-btn.search:active{
  filter: invert(100%);
}

.cart{
  position: relative;
  width:15%;
}

.img-menu input{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px #000000 solid;
  font-size: inherit;

  height: 30px;
  margin: 1% 4% 0% 0%;
}

.img-menu input:focus{
  outline: none;
}

#cart-number{
  position: absolute;
  top: 0%;
  left:70%;
  right: 0%;
  bottom: 80%;

  font-size: 15px;

  height: 20px;
  width: 20px;

  text-align: center;
  line-height: 20px;

  border-radius: 50%;
  z-index: 1;
}
/* end of lower menu block */
/* end of menu block */


/* for white buttons */
.white-btn{
  border: 1px #ffffff solid;

  display: block;
  height: 60px;
  width: 200px;

  text-transform: uppercase;
  text-align: center;
  line-height: 64px;

  position: relative;

  transition: color .5s ease-in-out;

  overflow: hidden;
  z-index: 1; 
}

.white-btn::before, .white-btn::after{
  position: absolute;
  content: '';

  height: 60px;
  width: 200px;
  background-color: #ffffff;

  top:0;
  left: -100%;

  opacity: .5; 

  transition: .3s ease-in-out;

   z-index: -1; 
}

.white-btn::after{
  opacity: 1;
  transition-delay: .2;
}

.white-btn:hover::before, .white-btn:hover::after{
  left: 0;
  font-weight: bold;
  color: #000000;
}

.white-btn:hover{
  color: #000000;
}

/* end of white buttons */


/* start of footer */
/* sign part */
footer{
  margin-top: 10%;
}
footer div.block{
  height: 297px;
  /* background-color: #bc8f8f; */
  justify-content: center;
}

#foot-text{
  width: 50%;
  font-size: 20px;
  padding: 99px 0px 0px 65px;
}

.text{
  font-size: 25px;
  margin-bottom: 17px;

  text-transform: uppercase;
}

#sign-email{
  overflow: hidden;
  padding: 120px 0px 0px 65px;
  width: 50%;
}

#sign-email input{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px #ffffff solid;
  font-family: inherit;
  font-size: 20px;
  color: #ffffff;

  margin-bottom: 5%;
}

#sign-email input:focus{
  outline:none;
}
/* end of sign part */

/* start of lower part of footer */
.foot-menu a {
  color: black;
}

.foot-menu a:hover{
  text-decoration: underline;
}

.foot-menu div{
  position: relative;
  width: 25%;
}

li {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 3%;
 }
 ul {
  margin-left: 0;
  padding-left: 0; 
 }


#logo img{
  height: 60px;
  width: 60px;

  padding: 15% 0% 0% 40%; 
}

/* end of lower part of footer */
/* end of footer */


/* start of adaptive screens */
@media (min-width:320px)  {
  body{
    width:100%;
    height:100%;
  } 
  header{
    font-size: 5px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;

    height:9em;
    width:8em;
  }
  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: hidden;
  }

  .mobile{
    visibility: visible;
  }

  /* start of header */
  .upper{
    height: 9em;
  }
  
  .img-menu{
    padding-top: 2%;
    padding-bottom: 2%;

    margin-left: -5em;
    
    width:100%;
    height: 9em;

    /* background-color: teal; */
  }

  .img-menu a, .img-btn.search, .img-menu img{
    width: 30px;
    height: 30px;
  }

  #cart-number{
    left:60%;
  
    font-size: 7px;
  
    height: 14px;
    width: 14px;
    line-height: 14px;
  }
  /* end of header */

  /* start of footer */
  footer div.block{
    height: 340px; 
  }

  #foot-text{
    width: 100%;
    font-size: 15px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }

  #foot-text p.text{
    font-size: 20px;
    text-transform: uppercase;
  }

  #sign-email{
    /* position:relative; */
    padding: 40px 0px 0px 10px;
    width: 96%;
  }

  #sign-email input{
    font-size: 15px;
  }

  #sign-email a.white-btn{
    margin-top: 20px;
    position:absolute;
    right: 25%;
    left:25%;
  }


  .foot-menu{
    font-size: 10px;
    text-align: center;
    /* display: flex;
    justify-content: center; */
  }

  .foot-menu div{
    width: 100%;
  }

  .foot-menu p.text{
    font-size: 15px;
  }

  #logo img{
    height: 40px;
    width: 40px;

    padding: 0px;
  }
  /* end of footer */

 }
@media (min-width:481px)  {  }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }


@media (min-width: 1581px) {
  /* start of header */
  header{
    font-size: 15px;
  }

  .upper{
    height: 25px;
  }

  .b-buttons{
    width: 500px;
  }

  .hidden-menu{
    display: flex;
    margin-top:1.5%;
    width:800px;
  }

  .img-menu img{
    width:30px;
    height:30px;
  
    margin-left: 15%;
  }

  .main-screen{
    height: 500px;
  } 
  /* end of header */
  
  /* start of footer */
  footer div.block{
    display: flex; 
  }
  /* end of footer */
}


@media (min-width: 1300px) and (max-width: 1581px){
  /* start of header */
  header{
    font-size: 12px;
  }
  .menu-button{
    width: 120px;
  }

  .hidden-menu{
    display: flex;
    margin-top:1.5%;
    width:615px;
  }

  .btn{
    border-radius: 5%;
  }
  /* end of header */

  /* start of footer */
  footer div.block{
    display: flex; 
  }
  .foot-menu{
    display: flex;
    justify-content: center;
  }
  /* end of footer */
}

@media (min-width: 760px) and (max-width: 1300px){
  /* start of header */
  header{
    font-size: 10px;
  }
  .menu-button{
    width: 100px;
  }


  .logo-img img{
    width: 35px;
    height: 35px;
  }

  .img-menu a, .img-btn.search, .img-menu img{
    width: 25px;
    height: 25px;
  }
  .img-menu input{
    height: 25px;
  }

  #cart-number{
    left:80%;
  
    font-size: 8px;
  
    height: 15px;
    width: 15px;
    line-height: 15px;
  }

  .logo-img{
    right:50%;
  }
  
  .img-menu{
    right: 20%;
  }

  .hidden-menu{
    width:135px;
  }
  /* end of header */

  /* start of footer */
  footer div.block{
    display: flex; 
  }
  #foot-text{
   padding: 60px 0px 0px 65px; 
  }

  .foot-menu{
    font-size: 15px;
    display: flex;
    justify-content: center;
  }

  .foot-menu p.text{
    font-size: 20px;
  }
  /* end of footer */
}


@media (min-width: 595px) and (max-width: 759px)  {
  /* start of header */
  header{
    font-size: 10px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;
  }

  .menu-button{
    width: 100px;
    height: 40px;
    line-height: 40px;
  }

  .img-menu{
    right: 33%;
    padding-top: 10px;
  }

  .img-menu a, .img-btn.search, .img-menu img{
    width: 30px;
    height: 30px;
  }
  .img-menu input{
    height: 30px;
  }

  #cart-number{
    left:80%;
  
    font-size: 8px;
  
    height: 15px;
    width: 15px;
    line-height: 15px;
  }


  .logo-img{
    visibility: hidden;
  }

  .hidden-menu{
    width:135px;
  }
  /* end of header */

  /* start of footer */
  footer div.block{
    height: 340px; 
  }
  
  #foot-text{
    width: 100%;
    font-size: 15px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }
  
  #foot-text p.text{
    font-size: 20px;
    text-transform: uppercase;
  }

  
  #sign-email{
    padding: 40px 0px 0px 10px;
    width: 96%;
  }
  
  #sign-email input{
    font-size: 20px;
  }
  
  #sign-email a.white-btn{
    position:absolute;
    left: 35%;
    right: 50%;
  }

  .foot-menu{
    font-size: 10px;
    display: flex;
    justify-content: center;
  }

  .foot-menu p.text{
    font-size: 15px;
  }
  /* end of footer */
}

@media (min-width: 497px) and (max-width: 595px){
  /* start of header */
  header{
    font-size: 7px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;
  }

  .img-menu{
    right: 33%;
    padding-top: 10px;
  }

  #cart-number{
    left:100%;
  
    font-size: 8px;
  
    height: 15px;
    width: 15px;
    line-height: 15px;
  }

  .img-menu a, .img-btn.search, .img-menu img{
    width: 30px;
    height: 30px;
  }
  
  .menu-button{
    width: 77px;
    height: 40px;
    line-height: 40px;
  }
  .logo-img{
    visibility: hidden;
  }
  .hidden-menu{
    width:135px;
    font-size: 10px;
  }

  /* end of header */

/* start of footer */
footer div.block{
  height: 340px; 
}

#foot-text{
  width: 100%;
  font-size: 15px;
  text-align: center;
 padding: 40px 0px 0px 0px; 
}

#foot-text p.text{
  font-size: 20px;
  text-transform: uppercase;
}

#sign-email{
  /* position:relative; */
  padding: 40px 0px 0px 10px;
  width: 96%;
}

#sign-email input{
  font-size: 20px;
}

#sign-email a.white-btn{
  position:absolute;
  right: 30%;
}

.foot-menu{
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.foot-menu div{
  width: 100%;
}

.foot-menu p.text{
  font-size: 15px;
}


/* end of footer */

}

@media (min-width: 422px) and (max-width: 497px){
  /* start of header */
  header{
    font-size: 7px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;
  }

  .img-menu{
    right: 33%;
    padding-top: 10px;
  }

  .img-menu input{
    height: 20px;
  }

  #cart-number{
    left:90%;
  
    font-size: 7px;
  
    height: 12px;
    width: 12px;
    line-height: 12px;
  }

  .img-menu a, .img-btn.search, .img-menu img{
    width: 20px;
    height: 20px;
  }
  
  .menu-button{
    width: 70px;
    height: 40px;
    line-height: 40px;
  }
  .logo-img{
    visibility: hidden;
  }
  .hidden-menu{
    width:135px;
    font-size: 10px;
  }

  /* end of header */

/* start of footer */
footer div.block{
  height: 340px; 
}

#foot-text{
  width: 100%;
  font-size: 15px;
  text-align: center;
 padding: 40px 0px 0px 0px; 
}

#foot-text p.text{
  font-size: 20px;
  text-transform: uppercase;
}

#sign-email{
  /* position:relative; */
  padding: 40px 0px 0px 10px;
  width: 96%;
}

#sign-email input{
  font-size: 15px;
}

#sign-email a.white-btn{
  position:absolute;
  right: 25%;
}

.foot-menu{
  font-size: 10px;
  text-align: center;
}

.foot-menu div{
  width: 100%;
}

.foot-menu p.text{
  font-size: 15px;
}

#logo img{
  height: 40px;
  width: 40px;

  padding: 0px;
}
/* end of footer */

}



