@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;700&family=Montserrat:wght@100;300&display=swap');


 /* start of main block */
body{
  background-color: #F6EEEB;
  font-family: 'Montserrat', sans-serif;
}

body a{
  text-decoration: none;
}

.block{
  background-color: #363636;
  color: #ffffff;
}

 .catalog, header a, .white-btn{
  background: none;
  border:none;
  font-family: inherit;
  font-size: inherit;
  color: #ffffff;
} 

.box{
  display: inline-block;
  /* position:relative; */
}
/*end of main block */


/* start of the menu elements */
/* upper menu */
header{
  position: relative;
  margin-top:-8px;
}
.upper{

  padding: 0 0% 0% 2%;
}

.menu{
  height: 20px;
  display: inline-block;
}

.dropdown{
  position: relative;
}

.dropdown-menu#screen{
  position: absolute;
  visibility:visible;
  left: 0;
  top: calc(100% + .3rem);

  opacity:0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}

.dropdown>  .catalog#screen:focus + .dropdown-menu#screen{
  visibility:visible;
  opacity:1;
  transform: translateY(5px);
}

.menu-button{
  text-align: center;
  height: 100%;
  width: 150px;

  line-height: 20px;
  transition: filter .1s ease-in, background-color .2s ease-in;
}

.menu-button:hover{
  background-color: #5e5958;
  cursor: pointer;
}
.menu-button:active{
  filter: brightness(130%);
}

.hidden-menu{
  font-weight: bold;
  margin-top: 10px;
  background-color: #F6EEEB;
}

.hidden-menu a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn#screen{
  display: inline-block;
  height: 40px;
  width:130px;

  margin-left: 0.5%; 
  margin-right: 1.9%;
 
  color: #000000;
  border: 2px #c4bbb9 solid;
  transition: box-shadow 400ms ease-in-out, background-color 400ms ease-in-out;
}

.btn#screen:hover{
  background-color: #817d7c;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.925);
}

.crockery-name{
  visibility: visible;
  position: absolute;
  right:5%;
  top:1.8%;
}

.crockery{
  visibility: hidden;
  position: absolute;

  right:5%;
}

.crockery a{
  display: block;
  
  width: 40px;
  height: 40px;
}

.crockery img{
  width: 40px;
  height: 40px;
  filter: invert(100%);
  filter: brightness(300%);
}

.mobile{
  z-index:16;
}

#menu__toggle{
  position: absolute;
  opacity:0;
  
}

.menu__btn{
  display: flex;
  align-items: center;
  position: fixed;
  top:10px;
  left:20px;

  width:26px;
  height: 26px;

  cursor: pointer;
  
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after{
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;
  background-color: #fff;

  transition-duration: .25s;
}

.menu__btn > span::before{
  content: '';
  top:-8px;
}

.menu__btn > span::after{
  content: '';
  top:8px;
}

.menu__box{
  display: block;
  position: fixed;
   visibility: hidden;  

  left:-100%;

  width:200px;
  height: 100%;

  list-style: none;

  text-align: center;

  transition-duration: .25s;

  background-color: #F6EEEB;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  
}

.menu__item{
  display: block;
  padding: 12px 24px;

  
  font-weight: bolder;

  text-decoration: none;
}

.mobile ul{
  position: fixed;
  padding-top: 2em;
}

.mobile li.btn{
  width: 97%;

  transition: background-color 400ms ease-in-out;
}


li.btn a, li.btn button{
  display: block;

  width:200px;
  height: 40px;

  color: #000000;
  font-size: 15px;
  font-weight: 700;

  border-bottom: 1px #000 solid;

}

li.btn .hidden-menu{
  width:200px;
}


li.btn a{
  line-height: 40px;
}

li.btn a.about-us{
  margin-top: 20px;
}

.dropdown-menu#mobile{
  position: absolute;
  visibility:hidden;
  left: 0;

  opacity:0;
  transform: translateX(-10px);
  transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
}

.dropdown>  .catalog#mobile:focus + .dropdown-menu#mobile{
  visibility:visible;
  opacity:1;
  transform: translateY(0);
}

.menu__item:active{
  background-color: #7a7a7a;
}

li.btn button:focus{
  background-color: #616161;
}


#menu__toggle:checked ~ .menu__btn > span{
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before{
  top:0;
  transform:rotate(0deg);
}

#menu__toggle:checked ~ .menu__btn > span::after{
  top:0;
  transform:rotate(90deg);
}

#menu__toggle:checked ~ .menu__box{
  visibility: visible;
  left:0;
}
/* end of upper menu */

/* lower menu block */

.img-menu{
  position: relative;
  display: flex;  
  width: 50%;
}

.img-menu img{
  background-color: transparent;
}

.img-menu a, .img-btn.search{
  display: block;

  transition: transform 0.1s ease-in-out;
}

.img-btn{
  margin-right: 10%;
  padding-top: 2%;
}

.img-menu a:hover, .img-btn.search:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.img-menu a:active, .img-btn.search:active{
  filter: invert(100%);
}

.cart{
  position: relative;
  width:15%;
}

.img-menu input{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px #000000 solid;
  font-size: inherit;

  height: 30px;
  margin: 1% 4% 0% 0%;
}

.img-menu input:focus{
  outline: none;
}

#cart-number{
  top: 0%;
  left:70%;
  right: 0%;
  bottom: 80%;

  font-size: 15px;

  height: 20px;
  width: 20px;

  text-align: center;
  line-height: 20px;

  border-radius: 50%;
  z-index: 1;
}


/* end of lower menu block */
/* end of menu block */


/* for white buttons */
.white-btn{
  border: 1px #ffffff solid;

  display: block;
  height: 60px;
  width: 200px;

  text-transform: uppercase;
  text-align: center;
  line-height: 64px;

  position: relative;

  transition: color .5s ease-in-out;

  overflow: hidden;
  z-index: 1; 
}

.white-btn::before, .white-btn::after{
  color: #000000;
  position: absolute;
  content: '';

  height: 60px;
  width: 200px;
  background-color: #ffffff;

  top:0;
  left: -100%;

  opacity: .5; 

  transition: .3s ease-in-out;

   z-index: -1; 
}

.white-btn::after{
  opacity: 1;
  transition-delay: .2;
}

.white-btn:hover::before, .white-btn:hover::after{
  left: 0;
  font-weight: bold;
  color: #000000;
}

.white-btn:hover{
  color: #000000;
}

.white-btn:active{
  background-color: #fff;
  color: #000000;
}

/* end of white buttons */

/* for dark buttons */
.white-btn#black{
  border: 1px #363636 solid;

  color: #000;

  display: block;
  height: 60px;
  width: 200px;

  text-transform: uppercase;
  text-align: center;
  line-height: 64px;

  position: relative;

  transition: color .5s ease-in-out;

  overflow: hidden;
  z-index: 1; 
}

.white-btn#black::before, .white-btn#black::after{
  color: #fff;
  position: absolute;
  content: '';

  height: 60px;
  width: 200px;
  background-color: #363636;

  top:0;
  left: -100%;

  opacity: .5; 

  transition: .3s ease-in-out;

   z-index: -1; 
}

.white-btn#black::after{
  opacity: 1;
  transition-delay: .2;
}

.white-btn#black:hover::before, .white-btn#black:hover::after{
  left: 0;
  font-weight: bold;
  color: #fff;
}

.white-btn#black:hover{
  color: #fff;
}

.white-btn#black:active{
  background-color: #363636;
  color: #fff;
}
/* end of dark buttons */


/* start of footer */
/* sign part */
footer{
  margin-top: 10%;
}
footer div.block{
  height: 297px;
  /* background-color: #bc8f8f; */
  justify-content: center;
}

#foot-text{
  width: 50%;
  font-size: 20px;
  padding: 99px 0px 0px 65px;
}

.text{
  font-size: 25px;
  margin-bottom: 17px;

  text-transform: uppercase;
}

#sign-email{
  overflow: hidden;
  padding: 120px 0px 0px 65px;
  width: 50%;
}

#sign-email input{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px #ffffff solid;
  font-family: inherit;
  font-size: 20px;
  color: #ffffff;

  margin-bottom: 5%;
}

#sign-email input:focus{
  outline:none;
}
/* end of sign part */

/* start of lower part of footer */
.foot-menu a {
  color: black;
}

.foot-menu a:hover{
  text-decoration: underline;
}

.foot-menu div{
  position: relative;
  width: 25%;
}

li {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 3%;
 }
 ul {
  margin-left: 0;
  padding-left: 0; 
 }


#logo img{
  height: 60px;
  width: 60px;

  padding: 15% 0% 0% 40%; 
}

/* end of lower part of footer */
/* end of footer */


/* start of adaptive screens */
@media only screen and (min-width:320px)  {
  header{
    width: 100%;
    font-size: 5px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;

    height:9em;
    width:8em;
  }
  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: hidden;
  }

  .mobile{
    visibility: visible;
  }

  /* start of header */
  .up{
    width: 90%;
    height: 9em;
     z-index: 11; 
    position: fixed;

  }

  .under{
    width: 100%;
    height: 25em;
  }
  
  .img-menu{ 
    width: 40em;
    height: 8em;
    left: 37%;
    transform: translate(-63%);
  }

.img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 7em;
    height: 7em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }

  .menu__box{
    width:40em;
    top:8em;
  }
  /* end of header */

  /* start of footer */
  footer div.block{
    height: 340px; 
  }

  #foot-text{
    width: 100%;
    font-size: 15px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }

  #foot-text p.text{
    font-size: 20px;
    text-transform: uppercase;
  }

  #sign-email{
    height: 10em;
    position:relative;
    padding: 40px 0px 0px 2em;
    width: 100%;
  }

  #sign-email input{
    font-size: 9px;
  }

  #sign-email input::placeholder{
    color: #fff;
  }

  #sign-email a.white-btn{
    z-index: 12; 
    position:absolute;
    top:5em;
    left: 50%;
    transform: translate(-50%);
  }



  .foot-menu{
    font-size: 10px;
    text-align: center;
  }

  .foot-menu div{
    width: 100%;
  }

  .foot-menu p.text{
    font-size: 15px;
  }

  #logo img{
    height: 40px;
    width: 40px;

    padding: 0px;
  }
  /* end of footer */

 }

@media only screen and (min-width:481px)  { 

  header{
    font-size: 5px;
    left:-2%;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;

    height:9em;
    width:8em;
  }
  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: hidden;
  }

  .mobile{
    visibility: visible;
  }

  /* start of header */
  .up{
    width: 100%;
    height: 9em;
     z-index: 11; 
    position: fixed;
  }

  .under{
    width: 100%;
    height: 25em;
  }
  
  .img-menu{ 
    width: 50em;
    height: 10em;
    left: 40%;
    transform: translate(-60%);
  }

.img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 9em;
    height: 9em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }

  .menu__box{
    width:55em;
    top:8em;
  }

  li.btn a, li.btn button{
   
    width:13.4em;
  
    font-size: 20px;
    font-weight: 800;
  
  }

  li.btn .hidden-menu{
    width:55em;
  }


  /* start of footer */

  footer div.block{
    height: 20em; 
  }

  #foot-text{
    width: 100%;
    font-size: 15px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }

  #foot-text p.text{
    font-size: 20px;
    text-transform: uppercase;
  }

  #sign-email{
    height: 10em;
    position:relative;
    padding: 40px 0px 0px 2em;
    width: 100%;
  }

  #sign-email input{
    font-size: 13px;
  }

  #sign-email a.white-btn{
    z-index: 12; 
    position:absolute;
    top:5em;
    left: 50%;
    transform: translate(-50%);
  }

  
  #logo {
    width: 19em;
  }

  #logo img{
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 12px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;

  }

  .foot-menu p.text{
    font-size: 16px;
  }
  /* end of footer */
 }

@media only screen and (min-width:641px) and (max-width: 819px) {  
  header{
    width:95%;
    font-size: 5px;
    left: -2%;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;
    height:12em;
    width:12em;
  }

  .crockery img{
    height:11em;
    width:11em;
  }
  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: hidden;
  }

  .mobile{
    visibility: visible;
  }

  /* start of header */
  .up{
    width: 100%;
    height: 12em;
     z-index: 11; 
    position: fixed;
  }

  .under{
    width: 100%;
    height: 28em;
  }
  
  .img-menu{ 
    margin-top: 4em;
    width: 50em;
    height: 10em;
    left: 38%;
    transform: translate(-62%);
  }

  .img-menu a, .img-btn.search, .cart{
    margin-right: 15%;
  }

.img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 10em;
    height: 10em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }

  .menu__btn{
    width: 6em;
    transform: scale(1.2);
  }

  .menu__btn > span{
    margin-top: 3em;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after{
    width: 100%;
    height: 4px;
  }

  .menu__box{
    width:80em;
    top:12em;
  }

  li.btn a, li.btn button{
    width:20em;
    height: 60px;

    font-size: 20px;
    line-height: 60px;
    font-weight: 800;
  
  }

  li.btn a.about-us{
    margin-top: 1.5em;
  }

  li.btn .hidden-menu{
    width:80em;
  }

  
  /* start of footer */

  footer{
    width: 100%;
  }

  footer div.block{
    height: 23em; 
  }

  #foot-text{
    width: 100%;
    font-size: 20px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }

  #foot-text p.text{
    font-size: 30px;
    text-transform: uppercase;
  }


  #sign-email{
    height: 10em;
    position:relative;
    padding: 40px 0px 0px 2em;
    width: 100%;
  }

  #sign-email input{
    font-size: 18px;
  }

  #sign-email a.white-btn{
    z-index: 12; 
    position:absolute;
    top:5em;
    left: 50%;
    transform: translate(-50%);
  }

  #sign-email input{
    font-size: 17px;
  }

  
  #logo {
    width: 15em;
  }

  #logo img{
    width: 5em;
    height: 5em;
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 15px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;
    padding-left: 2em;
  }

  .foot-menu p.text{
    font-size: 20px;
  }
  /* end of footer */
 }


 @media only screen and (min-width:819px)and (max-width: 960px)  {
  header{
    width:100%; 
    font-size: 5px;
  }
  .crockery-name{
    visibility: hidden;
  }

  .crockery{
    visibility: visible;
    height:12em;
    width:12em;
  }

  .crockery img{
    height:12em;
    width:12em;
  }
  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: hidden;
  }

  .mobile{
    visibility: visible;
  }

  /* start of header */
  .up{
    width: 100%;
    height: 12em;
     z-index: 11; 
    position: fixed;
  }

  .under{
    width: 100%;
    height: 28em;
  }
  
  .img-menu{ 
    margin-top: 5em;
    width: 60em;
    height: 10em;
    left: 42%;
    transform: translate(-58%);
  }

  .img-menu a, .img-btn.search, .cart{
    margin-right: 10em;
  }
.img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 10em;
    height: 10em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }

  .menu__btn{
    width: 6em;
    transform: scale(1.1);
  }

  .menu__btn > span{
    margin-top: 3em;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after{
    width: 100%;
    height: 4px;
  }

  .menu__box{
    width:80em;
    top:12em;
  }

  li.btn a, li.btn button{
    width:20em;
    height: 60px;

    font-size: 20px;
    line-height: 60px;
    font-weight: 800;
  
  }

  li.btn a.about-us{
    margin-top: 1.5em;
  }

  li.btn .hidden-menu{
    width:80em;
  }

  /* start of footer */
 

  footer div.block{
    height: 26em; 
  }

  #foot-text{
    width: 100%;
    font-size: 20px;
    text-align: center;
   padding: 40px 0px 0px 0px; 
  }

  #foot-text p.text{
    font-size: 35px;
    text-transform: uppercase;
  }



  #sign-email{
    height: 10em;
    position:relative;
    padding: 40px 0px 0px 2em;
    width: 100%;
  }

  #sign-email input{
    font-size: 18px;
  }

  #sign-email a.white-btn{
  
    z-index: 12; 
    position:absolute;
    top:5em;
    left: 50%;
    transform: translate(-50%);
  }

  
  #logo {
    width: 15em;
  }

  #logo img{
    width: 5em;
    height: 5em;
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 16px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;
    padding-left: 2em;
  }

  .foot-menu p.text{
    font-size: 22px;
  }
  /* end of footer */
   
 }
@media only screen and (min-width:961px)  { 
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  body{
    width:100%;
  } 
  header{
    font-size: 13px;
    width:100%;
    margin-top:-0.5em; 
  }
  .crockery-name{
    visibility: visible;
  }

  .crockery{
    visibility: hidden;
  }

  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: visible;
    width: 2em;
    height: 2em;


    margin-top: 2em;
    margin-left: 50%;
    top: .5em;
  }

  .mobile{
    visibility: hidden;
  }

  .screen{
    visibility: visible;
    width: 100%;
  }
  /* start of header */
  .up{
    width: 100%;
    height: 2em;
  }

  .under{
    width: 100%;
    height: 6em;
  }
  
  .img-menu{ 
    position: none;
    width: 20%;
    height: 3em;

    left:60%;
    top:-3em;
  }

  .img-menu a, .img-btn.search, .cart{
    margin-right: 5em;
  }
  .img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 2em;
    height: 2em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }
  /* start of footer */
 
  footer div.block{
    position:relative;
    display: flex;
    height: 20em; 
    width:100%;
    left: -1%;
  }

  #foot-text{
    width: 50%;
    font-size: 18px;
    text-align: start;
    padding: 5em 0px 0px 2em; 
  }

  #foot-text p.text{
    font-size: 25px;
    text-transform: uppercase;
  }



  #sign-email{
    padding: 7em 0px 0px 2em;
    width: 50%;
  }

  #sign-email input{
    font-size: 20px;
  }

  #sign-email input::placeholder{
    color: #fff;
  }

  #sign-email a.white-btn{
    position:absolute;
    top:unset;
    bottom: 20%;
    right: unset;
    left: 8em;
  }

  
  #logo {
    width: 15em;
  }

  #logo img{
    width: 5em;
    height: 5em;
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 16px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;
    padding-left: 2em;
  }

  .foot-menu p.text{
    font-size: 22px;
  }
  /* end of footer */
} 

@media only screen and (min-width:1025px) { 
  body{
    width:100%;
  } 
  header{
    font-size: 13px;
    width:100%;
    margin-top:-0.5em;
    left: -1%;
  }
  .crockery-name{
    visibility: visible;
  }

  .crockery{
    visibility: hidden;
  }

  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: visible;
    width: 2em;
    height: 2em;

    top: .5em;
    left:49%;

  }

  .mobile{
    visibility: hidden;
  }

  .screen{
    visibility: visible;
    width: 100%;
  }
  /* start of header */
  .up{
    width: 100%;
    height: 2em;
  }

  .under{
    width: 100%;
    height: 6em;
  }
  
  .img-menu{ 
    position: none;
    width: 20%;
    height: 3em;

    left:60%;
    top:-3em;
  }

  .img-menu a, .img-btn.search, .cart{
    margin-right: 5em;
  }
  .img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 2em;
    height: 2em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }
  /* start of footer */
 

  footer div.block{
    position:relative;
    display: flex;
    height: 20em; 
    width:100%;
    left: -.5%;
  }

  #foot-text{
    width: 50%;
    font-size: 18px;
    text-align: start;
    padding: 5em 0px 0px 2em; 
  }

  #foot-text p.text{
    font-size: 25px;
    text-transform: uppercase;
  }



  #sign-email{
    padding: 7em 0px 0px 2em;
    width: 50%;
  }

  #sign-email input{
    font-size: 20px;
  }

  #sign-email a.white-btn{
    position:absolute;
    top:unset;
    bottom: 20%;
    right: unset;
    left: 8em;
  }

  
  #logo {
    width: 15em;
  }

  #logo img{
    width: 5em;
    height: 5em;
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 16px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;
    padding-left: 2em;
  }

  .foot-menu p.text{
    font-size: 22px;
  }
  /* end of footer */
}

@media  only screen and (min-width:1281px) {
  body{
    width:100%;
  } 
  header{
    font-size: 13px;
    width:100%;
    margin-top:-0.5em;
    left: -1%;
  }
  .crockery-name{
    visibility: visible;
  }

  .crockery{
    visibility: hidden;
  }

  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: visible;
    width: 2em;
    height: 2em;

    top: .5em;
    left:49%;
  }

  .mobile{
    visibility: hidden;
  }

  .screen{
    visibility: visible;
    width: 100%;
  }
  /* start of header */
  .up{
    width: 100%;
    height: 2em;
  }

  .under{
    width: 100%;
    height: 6em;
  }
  
  .img-menu{ 
    position: none;
    width: 20%;
    height: 3em;

    left:70%;
    top:-3em;
  }

  .img-menu a, .img-btn.search, .cart{
    margin-right: 5em;
  }
  .img-menu a, .img-btn.search, .cart, .img-menu img{
    width: 2em;
    height: 2em;
  }

  #cart-number{
    position: absolute;
    top:-.5em;
  
    font-size: 12px;
  
    height: 2em;
    width: 2em;
    line-height: 2em;
  }
  
 
  /* start of footer */
 

  footer div.block{
    position:relative;
    display: flex;
    height: 20em; 
    width:100%;
    left: -.5%;
  }

  #foot-text{
    width: 50%;
    font-size: 18px;
    text-align: start;
    padding: 5em 0px 0px 2em; 
  }

  #foot-text p.text{
    font-size: 25px;
    text-transform: uppercase;
  }



  #sign-email{
    padding: 7em 0px 0px 2em;
    width: 50%;
  }

  #sign-email input{
    font-size: 20px;
  }

  #sign-email a.white-btn{
    position:absolute;
    top:unset;
    bottom: 20%;
    right: unset;
    left: 8em;
  }

  
  #logo {
    width: 15em;
  }

  #logo img{
    width: 5em;
    height: 5em;
    padding-top: 5em;
  }

  .foot-menu{
    font-size: 16px;
    display:flex;
 
  }

  .foot-menu div{
    text-align: start;
    padding-left: 2em;
  }

  .foot-menu p.text{
    font-size: 22px;
  }
  /* end of footer */
} 








