@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;700&family=Montserrat:wght@100;300&display=swap');

.login-block{
  margin-top: 2em;
  margin-left:50%;

  transform: translate(-50%);

  width:50em;
  height: 30em;
  
  background-color: #fcf5f3;
  border-radius: 4%;
  box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.377);
  padding-top: 2%;
}

.input-block{
  padding:0% 0 5% 0;
  width:100%;
  height: 10em;

  font-size: 30px;
 /* border: 1px #000 solid;  */
}

.login, .password{
  text-align: center;
}

.input-block input{
  background-color: transparent;
  width:35em;
  height:6em;

  font-size: 16px;
  font-family: 'Montserrat';
}

.input-block a{
  font-size: 16px;
  text-align: start;

  margin-left:15%;
}






@media only screen and (min-width:320px){
  .screen{
    visibility: hidden;
  }
  
  .login-block{
    margin-top: -1em;
    width:18em;
    height: 26em;
    padding-top: 10%;
  }

  .input-block{
    height: 9em;
 
    font-size: 22px;
  }
  
  .input-block input{
    width:15em;
    height:2.5em;
  
    font-size: 16px;
  }
  
  .input-block a{
    margin-left:15%;
  }


  .login-btn {
  
    width:50%;
    margin-left: 42%;
    transform: translate(-58%);
  }

  .login-btn a{
    margin: .5em 0 0 0em;
  }

}

@media only screen and (min-width:481px)  { 
  .screen{
    visibility: hidden;
  }
  
  .login-block{
    margin-top: 0;
    width:30em;
    height: 28em;
    padding-top: 10%;
  }

  .input-block{
    height: 8em;
  
    font-size: 24px;
  }
  
  .input-block input{
    width:20em;
    height:2.5em;
  
    font-size: 16px;
  }
  
  .input-block a{
    margin-left:15%;
  }


  .login-btn {
    width:50%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .login-btn a{
    margin: 2em 0 0 2em;
  }
}

@media only screen and (min-width:641px) and (max-width: 819px)  { 
  .screen{
    visibility: hidden;
  }


  .login-block{
    
    width:30em;
    height: 28em;
    padding-top: 10%;
  }

  .input-block{
    height: 8em;
  
    font-size: 24px;
  }
  
  .input-block input{
    width:20em;
    height:2.5em;
  
    font-size: 16px;
  }
  
  .input-block a{
    margin-left:15%;
  }


  .login-btn {
    width:50%;
    margin-left: 50%;
    transform: translate(-50%);
  }
  .login-btn a{
    margin: 2em 0 0 2em;
  }
}

@media only screen and (min-width:819px) and (max-width: 961px) {
  .screen{
    visibility: hidden;
  }

  .login-btn{
    width:100%;
    display: flex;
    justify-content: space-evenly;
  
    margin-left: 48%;
    transform: translate(-52%);
    margin-top: 2em;
  }
}

@media only screen and (min-width:961px) { 
  .crockery-name{
    visibility: visible;
  }

  .crockery{
    visibility: hidden;
  }

  .img-menu input{
    visibility: hidden;
  }

  .logo-img{
    visibility: visible;
  }

  .mobile{
    visibility: hidden;
  }

  .screen{
    visibility: visible;
  }
  .login-block{
    margin-top: 2em;
    margin-left:50%;
  
    transform: translate(-50%);
  
    width:50em;
    height: 30em;
    
    background-color: #fcf5f3;
    border-radius: 4%;
    box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.377);
    padding-top: 2%;
  }
  .input-block{
    padding:0% 0 5% 0;
    width:100%;
    height: 8em;
  
    font-size: 30px;
   /* border: 1px #000 solid;  */
  }
  
  .login, .password{
    text-align: center;
  }
  
  .input-block input{
    background-color: transparent;
    width:35em;
    height:3em;
  
    font-size: 16px;
    font-family: 'Montserrat';
  }
  
  .input-block a{
    font-size: 16px;
    text-align: start;
  
    margin-left:15%;
  }
  .login-btn{
    width:100%;
    display: flex;
    justify-content: space-evenly;
  
    margin-left: 48%;
    transform: translate(-52%);
    margin-top: 2em;
  }

}

@media only screen and (min-width:1281px) {
  .login-block{
    margin-top: 2em;
    margin-left:50%;
  
    transform: translate(-50%);
  
    width:50em;
    height: 30em;
    
    background-color: #fcf5f3;
    border-radius: 4%;
    box-shadow: 10px 5px 20px 5px rgba(0, 0, 0, 0.377);
    padding-top: 2%;
  }
  .input-block{
    padding:0% 0 5% 0;
    width:100%;
    height: 8em;
  
    font-size: 30px;
   /* border: 1px #000 solid;  */
  }
  
  .login, .password{
    text-align: center;
  }
  
  .input-block input{
    background-color: transparent;
    width:35em;
    height:3em;
  
    font-size: 16px;
    font-family: 'Montserrat';
  }
  
  .input-block a{
    font-size: 16px;
    text-align: start;
  
    margin-left:15%;
  }
  .login-btn{
    width:100%;
    display: flex;
    justify-content: space-evenly;
  
    margin-left: 48%;
    transform: translate(-52%);
    margin-top: 2em;
  }
  
}