.main-info{
  /* width: 1010px; */
  height: 937px;
}

.main-info p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 25px;
}

label[for="one"]{
  position: absolute; 

  width: 15em;
  height: 15em;
  
  left: -5em; 
  top: -17em; 
  /* background-color: #ffffff; */
}

label img{
  width: inherit;
  height: inherit;
}


.text-block{
  height: 40%;
  width:55%;

  padding-left: 65px;
  padding-top: 277px;
}

#bold-text{
  font-size: 40px;
  font-weight: bold;
}

#light-text{
  margin-bottom: 100px;
}

.white-dots{
  width: 100px;
  
  position: absolute;
  top: 950px; 
  left: 580px; 
}

.white-dots input[type="radio"]{
  border: 1px #ffffff solid;
  border-radius: 50%;
  background-color: transparent;
   -webkit-appearance: none;
  appearance: none;
  margin:0; 
}


.white-dots input:checked{
  background-color: #ffffff;

}

.dot{
  display: inline-block;
  width: 15px;
  height: 15px;
}

/* end of the screen-one lements */

@media (min-width: 1581px){}

 
@media (min-width: 1300px) and (max-width: 1581px){}

@media (min-width: 760px) and (max-width: 1300px){}
@media (min-width: 595px) and (max-width: 759px){}
@media (min-width: 497px) and (max-width: 595px){}

@media (min-width: 413px) and (max-width: 497px){}

@media (max-width: 413px){
  .screen{
    visibility: hidden;
  }

  .main-info, .white-dots{
    z-index: -2;
  }
  .main-info{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 450px;
  }
  
  .main-info p {
    font-size: 15px;
  }

  .banners{
    width: 250px;
    height: 250px;

    right:79%;
    bottom: 770px;
  }

  .text-block{
    text-align: center;

    height: 40%;
    width:100%;
  
    padding-left: 0px;
    padding-top: 200px;
  }
  
  #bold-text{
    font-size: 20px;
    font-weight: bold;
  }

  #light-text{
    margin-bottom: 40px;
  }

  .text-block a.white-btn{
    position:absolute;
    right: 25%;
    left:25%;
  }

  .white-dots{
    top: 58%; 
    left: 43%; 
  }
}