/* .main-info{
  /* width: 1010px;
  height: 937px;
} */

.main-info p {
  font-family: 'IBM Plex Serif', serif;
  font-size: 25px;
}

.screen-one{
  position: relative;
}

label[for="one"]{
  position: absolute; 

  width: 15em;
  height: 15em;
  
  left: -5em; 
  top: -17em; 
  /* background-color: #ffffff; */
}

label img{
  width: inherit;
  height: inherit;
}


.text-block{
  height: 40%;
  width:55%;

  padding-left: 4em;
  padding-top: 4em;
}

#bold-text{
  font-size: 40px;
  font-weight: bold;
}

#light-text{
  margin-bottom: 100px;
}

.white-dots{
  width: 3.5em;

  position: absolute;
}

.white-dots input[type="radio"]{
  border: 1px #ffffff solid;
  border-radius: 50%;
  background-color: transparent;
   -webkit-appearance: none;
  appearance: none;
  margin:0; 
}


.white-dots input:checked{
  background-color: #ffffff;

}

.dot{
  display: inline-block;
  width: 1em;
  height: 1em;
}

/* end of the screen-one lements */


@media only screen and (min-width:320px){
  .screen{
    visibility: hidden;
  }

  .main-info, .white-dots{
    z-index: -2;
  }
  .main-info{
    position: relative;
    margin-top: 30%;
    width: 100%;
    height: 450px;
  }
  
  .main-info p {
    font-size: 15px;
  }

  .text-block{
    text-align: center;

    height: 40%;
    width:100%;
  
    padding-left: 0px;
    padding-top: 200px;
  }
  
  #bold-text{
    font-size: 20px;
    font-weight: bold;
  }

  #light-text{
    margin-bottom: 40px;
  }

  .text-block a.white-btn{
    position:absolute;
    right: 10em;
    left:6em;;
  }

  .white-dots label{
    width: 15em;
    height: 15em;
    
    left: -6em; 
    top: -16em; 
  }

  .white-dots{
    top: 12em; 
    left: 45%; 
  }
}

@media only screen and (min-width:481px)  { 
  .screen{
    visibility: hidden;
  }

  .main-info, .white-dots{
    z-index: -2;
  }
  .main-info{
    position: relative;
    margin-top: 25%;
    width: 100%;
    height: 33em;
  }
  
  .main-info p {
    font-size: 18px;
  }

  .text-block{
    text-align: center;

    height: 40%;
    width:98%;
  
    padding-left: 0px;
    padding-top: 15em;
  }
  
  #bold-text{
    font-size: 25px;
    font-weight: bold;
  }

  #light-text{
    margin-bottom: 40px;
  }

  .text-block a.white-btn{
    position:absolute;
    right: 10em;
    left:11em;
  }

  .white-dots label{
    width: 18em;
    height: 18em;
    
    left: -8em; 
    top: -19em; 
  }

  .white-dots{
    top: 15em; 
    left: 47%; 
  }

}